body
{
	background:#F5F5F5;
}

a
{
	decoration:none;
	color:white;
	font-family: arial;
	font-size: 14px;
}

.logo_font
{
	font-family: Pacifico;
}

.form-centered-login
{
	margin:2.5% auto 10px auto;
	max-width:700px;
	background:white;
	border-radius: 5px;
}

.form_title
{
	background:#212121;
	color:white;
	text-align:center;
	padding: 2px 0px 2px 0px;
	
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px
}

.form_content
{
	padding:10px 10px 5px 10px;
	background:white;
}

.form_button
{
	border-radius: 5px;
	width:100%;
	height:40px;
	text-align:center;
	background:#212121;
	color:white;
}

.top-menu
{
	text-align:right;
	padding: 1% 1%;
	color:white;
}

.fsuccess
{
	margin-top:10px;
	text-align:center;
	font-size:15px;
	font-weight:bold;
	color:green;
}

.ffail
{
	margin-top:10px;
	text-align:center;
	font-size:15px;
	font-weight:bold;
	color:red;
}